@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


*, *::before, *::after {
     box-sizing: border-box; 
}

body {
    background-color: FFFFFF;
    font-family: 'Archivo', sans-serif;
    margin: 0;
    padding: 0;
}

.slide-1 {
    padding: 20px;
    padding-top: 47px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 14px;
}

.text {
    padding-left: 14px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    text-decoration: none;
    margin: 0;
    padding: 0;
    line-height: 1;
    display: flex;
    align-items: center;
    color: black;
    position: relative;
    top: -2px;
    text-decoration: none;
}

.menu {
    list-style: none;
    display: flex;
    gap: 70px;
   
}

.menu li {
    display: flex;
    align-items: center;
}


.menu a {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: black;
    letter-spacing: 0;
    text-decoration: none;
    line-height: 1;
    align-items: center;    
    display: flex;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1); 
    position: relative;
}

.menu a:hover {
    color: #872BFF; 
    transform: translateY(-2px);
}

.auth-button {
    display: flex;
    gap: 20px;
    align-items: center;
}


.login, .sign-in {
    width: 120px;
    font-family: "Plus Jakarta Sans", sans-serif;
    height: 50px;
    background-color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    color: black;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 25px;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.sign-in {
    background-color: #872BFF;
    color: white;
    transition: all 0.3s ease-in-out;
}

.sign-in:hover {
    transform: scale(1.05);
    background-color: white;
    color: black;
    box-shadow: 0 4px 12px rgba(27, 112, 241, 0.3);

}

.login {
    transition: all 0.3s ease-in-out;
}

.login:hover {
    transform: scale(1.05);
    background-color: #872BFF;
    color: white;
    box-shadow: 0 4px 12px rgba(3, 3, 3, 0.3);

}

