<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tours</title>
    <link rel="stylesheet" href="./static/header.css">
    <link rel="stylesheet" href="./static/tours.css">
    <link rel="stylesheet" href="./static/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">

</head>
<body>
    <div class="e"></div>
    
    {{ template "header.html" . }}
    <div style="margin-top: 160px;"></div>
    <main>
       <div class="hero-card">

        <img
        src="./static/media/tours/plane.svg"
        alt="Plane"
        class="hero-plane"
        >

        <div class="hero-content">
        <span class="subtitle">ELEVATE YOUR TRAVEL JOURNEY</span>

        <h1>
            Experience<br>
            The Magic Of<br>
            Flight!
        </h1>

        <button class="btn-primary">Book A Trip Now</button>
        </div>

        <div class="know-more">
        <h3>Know More</h3>
        <p>
            Awesome places.<br>
            Discover the world one adventure at a time.
        </p>
        </div>

    </div>
    <div class="filter">
        <h3 class="search">Filter</h3>
         <div class="filter-group">
            <label>Search hotel:</label>
            <input type="text" id="search-input" placeholder="Enter hotel name">
        </div>
        <div class="filter-group">
        <label>Price up to:</label>
        <select id="price-select">
            <option value="0">Any</option>
            <option value="1500">Up to $1500</option>
            <option value="2500">Up to $2500</option>
            <option value="5000">Up to $3500</option>
        </select>
         <button id="search-btn">Find tours</button>
    </div>
    <div id="tours-container">
        <!-- Здесь появятся туры -->
    </div>
    </div>
    </main>
    <script src="./static/tours.js"></script>
</body>
</html>